
                    <br>
                    <div class="panel panel-info">
                    <div class="panel-heading">
                      <div class="row">
                        <div class="col-xs-12">
                          <h2 class="text-center pull-left" style="padding-left: 30px;"> <i class="fa fa-tasks" aria-hidden="true"></i> Berita Acara Perkuliahan </h2>
                        </div>
                      </div>
                    </div>

                    <div class="panel-body">
                      <div class="">
                        <table class="table no-border">
                          <tr>
                            <td><b>Kode Mata Kuliah / Paralel</b></td>
                            <td>: KOM431 / 1</td>
                            <td><b>SKS</b></td>
                            <td>: 3</td>
                          </tr>
                          <tr>
                            <td><b>Tahun Akademik</b></td>
                            <td>: 2017/2018</td>
                            <td><b>Semester</b></td>
                            <td>: 5</td>
                          </tr>
                          <tr>
                            <td><b>Jadwal Yg Ditetapkan</b></td>
                            <td>: Rabu</td>
                            <td><b>Pukul</b></td>
                            <td>: 10.00 - 12.00 WIB</td>
                          </tr>
                          <tr>
                            <td><b>Peserta</b></td>
                            <td>: G61</td>
                            <td><b>Jumlah Mhs Yg Ditetapkan</b></td>
                            <td>: 15</td>
                          </tr>
                          <tr>
                            <td><b>Penanggung Jawab</b></td>
                            <td>: Ir. Julio Adisantoso M.Kom</td>
                            <td><b>Ruang</b></td>
                            <td>: Lab. 2 Kom</td>
                          </tr>
                          <tr>
                            <td colspan="6"></td>
                          </tr>
                        </table>
                      </div>
                      <div class="table-responsive">
                        <table class="table table-hover">
                          <thead>
                            <tr>
                              <th class="text-center"> Minggu Ke- </th>
                              <th class="text-center"> Hari/Tanggal </th>
                              <th class="text-center"> Materi </th>
                              <th class="text-center"> Nama Pengajar </th>
                              <th class="text-center"> Waktu Mulai/Selesai </th>
                              <th class="text-center"> Alat Bantu Perkuliahan </th>
                              <th class="text-center"> Jumlah Mhs Hadir </th>
                              <th class="text-center"> Catatan/Hal Penting </th>
                            </tr>
                          </thead>

                          <tbody>
                            <tr>
                              <td class="text-center"> 1 </td>
                              <td class="text-center"> Senin, 18 Desember 2017 </td>
                              <td class="text-center"> Pendahuluan </td>
                              <td class="text-center"> Julio Adi Santoso </td>
                              <td class="text-center"> 08.00 - 10.00 </td>
                              <td class="text-center"> INFOCUS/ NOTEBOOK/ WIRELESS/ SPIDOL </td>
                              <td class="text-center"> 15 </td>
                              <td class="text-center"> Tidak ada catatan </td>
                            </tr>
                            <tr>
                              <td class="text-center"> 2 </td>
                              <td class="text-center"> Selasa, 19 Desember 2017 </td>
                              <td class="text-center"> Pemberian Tugas </td>
                              <td class="text-center"> Julio Adi Santoso </td>
                              <td class="text-center"> 08.00 - 10.00 </td>
                              <td class="text-center"> INFOCUS/ NOTEBOOK/ WIRELESS/ SPIDOL </td>
                              <td class="text-center"> 15 </td>
                              <td class="text-center"> Tidak ada catatan </td>
                            </tr>
                            <tr>
                              <td class="text-center"> 3 </td>
                              <td class="text-center"> Rabu, 20 Desember 2017 </td>
                              <td class="text-center"> Kuis mendadak </td>
                              <td class="text-center"> Julio Adi Santoso </td>
                              <td class="text-center"> 08.00 - 10.00 </td>
                              <td class="text-center"> INFOCUS/ NOTEBOOK/ WIRELESS/ SPIDOL </td>
                              <td class="text-center"> 15 </td>
                              <td class="text-center"> Tidak ada catatan </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>

                    <div class="panel-footer">
                      <div class="row">
                        <div class="col-lg-12">
                          <div class="col-md-8">
                            </div>
                            <div class="col-md-4">
                            <p class="muted pull-right"><strong> © 2017 All rights reserved </strong></p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

