
                    <br>
                    <div class="panel panel-info">
                    <div class="panel-heading">
                      <div class="row">
                        <div class="col-xs-12">
                          <h2 class="text-center pull-left" style="padding-left: 30px;"> <i class="fa fa-tasks" aria-hidden="true"></i> Berita Acara Perkuliahan </h2>
                        </div>
                      </div>
                    </div>

                    <div class="panel-body">
                      <div class="">
                        <table class="table no-border">
                          <tr>
                            <td><b>Kode Mata Kuliah / Paralel</b></td>
                            <td>: {{datamatkul?.kodematakuliah}} / {{datajadwal?.KelasParalel}}</td>
                            <td><b>SKS</b></td>
                            <td>: {{datamatkul?.sks}}</td>
                          </tr>
                          <tr>
                            <td><b>Tahun Akademik</b></td>
                            <td>: 2017/2018</td>
                            <td><b>Semester</b></td>
                            <td>: {{datamatkul?.semester}}</td>
                          </tr>
                          <tr>
                            <td><b>Jadwal Yg Ditetapkan</b></td>
                            <td>: {{datajadwal?.hari}}</td>
                            <td><b>Pukul</b></td>
                            <td>: {{datajadwal?.waktu}}</td>
                          </tr>
                          <tr>
                            <td><b>Peserta</b></td>
                            <td>: G61</td>
                            <td><b>Jumlah Mhs Yg Ditetapkan</b></td>
                            <td>: {{datapeserta?.length}}</td>
                          </tr>
                          <tr>
                            <td><b>Penanggung Jawab</b></td>
                            <td>: {{namadosen}}</td>
                            <td><b>Ruang</b></td>
                            <td>: {{ruangan}}</td>
                          </tr>
                          <tr>
                            <td colspan="6"></td>
                          </tr>
                        </table>
                      </div>
                      <div class="table-responsive">
                        <table class="table table-hover">
                          <thead>
                            <tr>
                              <th class="text-center"> Minggu Ke- </th>
                              <th class="text-center"> Tanggal </th>
                              <th class="text-center"> Materi </th>
                              <th class="text-center"> Nama Pengajar </th>
                              <th class="text-center"> Waktu Mulai/Selesai </th>
                              <th class="text-center"> Alat Bantu Perkuliahan </th>
                              <th class="text-center"> Jumlah Mhs Hadir </th>
                              <th class="text-center"> Catatan/Hal Penting </th>
                            </tr>
                          </thead>

                          <tbody>
                            <tr *ngFor="let data of databap;let i =index">
                              <td class="text-center"> {{i+1}} </td>
                              <td class="text-center"> {{data.tanggal | date:'dd/MM/yyyy'}} </td>
                              <td class="text-center"> {{data.topikkuliah}} </td>
                              <td class="text-center">  {{datapengajar[i].nama}}</td>
                              <td class="text-center"> {{data.waktu}} </td>
                              <td class="text-center"> INFOCUS/ NOTEBOOK/ WIRELESS/ SPIDOL </td>
                              <td class="text-center"> {{data.jumlahpeserta}} </td>
                              <td class="text-center"> {{data.catatan}} </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>

                    <div class="panel-footer">
                      <div class="row">
                        <div class="col-lg-12">
                          <div class="col-md-8">
                            </div>
                            <div class="col-md-4">
                            <p class="muted pull-right"><strong> © 2017 All rights reserved </strong></p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

