
                    <br>
                    <div class="panel panel-info">
                    <div class="panel-heading">
                      <div class="row">
                        <div class="col-md-11">
                          <h2 class="text-center pull-left" style="padding-left: 30px;"> <i class="fa fa-calendar" aria-hidden="true"></i> {{mataKuliah}} ({{kelas}})</h2>
                       
                          <a routerLink="/bap"><button class="btn btn-warning btn-lg pull-right" style="margin-top: 10px; margin-right: 55px">BAP</button></a>
                        </div>
                      </div>
                    </div>

                    <div class="panel-body table-responsive">
                      <table class="table table-hover">
                        <tbody>
                          <tr class="edit" id="detail">
                            <td> <b>Mata kuliah</b></td>
                            <td> {{mataKuliah}}</td>
                          </tr> 
                          <tr class="edit" id="detail">
                            <td> <b>Koordinator</b></td>
                            <td> {{pengajar}}</td>
                          </tr>
                          <tr class="edit" id="detail">
                            <td> <b>SKS</b></td>
                            <td> {{SKS}}</td>
                          </tr>
                          <tr class="edit" id="detail">
                            <td> <b>Ruangan</b></td>
                            <td> {{namaRuangan}}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>

                    <div class="panel-footer">
                      <div class="row">
                        <div class="col-lg-12">
                          <div class="col-md-8">
                            </div>
                            <div class="col-md-4">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>



               	<div class="panel panel-info">
                    <div class="panel-heading">
                      <div class="row">
                        <div class="col-md-12 hidden-xs">
                          <h2 class="text-center pull-left" style="padding-left: 30px;padding-right: 55px"> <i class="fa fa-users" aria-hidden="true"></i> Daftar Peserta </h2>
                          <div *ngIf = "hasPJ == true">
                            <button (click)="editPJ(idjadwalkuliah)" class="btn btn-warning btn-lg pull-right" style="margin-top: 10px; margin-right: 55px;">Edit
                            </button>
                          </div>
                        </div>
                        <div class="col-xs-12 visible-xs">
                          <h2 class="text-center pull-left" style="padding-left: 30px; padding-right: 55px"> <i class="fa fa-users" aria-hidden="true"></i> Daftar Peserta </h2>
                          
                          
                            <button class="btn btn-warning btn-lg" style="margin-top: 10px">Edit</button>
                      
                        </div>

                      </div>
                    </div>

                    <div class="panel-body table-responsive">
                      <table class="table table-hover">
                        <tbody>
                          <tr *ngFor="let data of datamahasiswa; let i = index" class="edit" id="detail">
                            <td>{{data.statusmayor}}</td>
                            <td> {{data.nim}}</td>
                            <td> {{data.nama}}</td>
                            <div *ngIf = "hasPJ == false">
                              <td><button (click)="assignPJ(idjadwalkuliah, data.iduser)" class="btn btn-danger">Assign</button></td>
                            </div>
                            <div *ngIf = "hasPJ == true">
                              <td>{{data.statuspj}}</td>
                            </div>
                          </tr> 
                        </tbody>
                      </table>
                    </div>

                    <div class="panel-footer">
                      <div class="row">
                        <div class="col-lg-12">
                          <div class="col-md-8">
                            </div>
                            <div class="col-md-4">
                            <p class="muted pull-right"><strong> © 2017 All rights reserved </strong></p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>


