<br><br>
<div class="row">
	<div class="col-md-3">
		<form>
		  <div class="form-group">
		    <label for="exampleInputEmail1">Pilih Tanggal</label>
		    <input type="date" name="tanggal" [ngModel] ="dt | date:'yyyy-MM-dd'" (ngModelChange)="dt = $event" [value]="datee | date:'yyyy-MM-dd'" (change)="listruanganbook(dt)">
		  </div>
		 </form>
	 </div>
 </div>

<div class="panel with-nav-tabs panel-primary">
    <div class="panel-heading">
            <ul class="nav nav-tabs nav-justified">
                <li class="active"><a href="#tab1default" data-toggle="tab"><h3>Pesan Ruangan</h3></a></li>
                <li><a href="#tab2default" data-toggle="tab"><h3>List Pemesanan</h3></a></li>
                
            </ul>
    </div>
    <div class="panel-body">
        <div class="tab-content">
            <div class="tab-pane fade in active" id="tab1default">           
				<br>
					<div *ngFor="let ruangan of dataruangan | paginate: { itemsPerPage: 10, currentPage: halaman }; let i = index" class="row">
						<div class="col-md-11">
						    <div class="panel panel-info" data-toggle="collapse" data-parent="#accordion" [attr.href]="'#filterPanel' + i">
						        <div class="panel-heading" style="padding: 20px" >
						            <h4 class="panel-title">
						                <a data-toggle="collapse" data-parent="#accordion" [attr.href]="'#filterPanel' + i">{{ruangan.namaruangan}}</a>
						                <span class="pull-right panel-collapse-clickable" data-toggle="collapse" data-parent="#accordion" [attr.href]="'#filterPanel' + i">
						                    <i class="glyphicon glyphicon-chevron-down"></i>
						                </span>
						            </h4>
						        </div>
						        <div [attr.id]="'filterPanel' + i" class="panel-collapse panel-collapse collapse">
						            <div class="panel-body">
						               <table class="table table-bordered">
										  <thead>
										  	<tr>
											  	<th class="text-center">MataKuliah</th>
											  	<th class="text-center">Waktu</th>
										  	</tr>
										  </thead>
										  <tbody>
										  	<tr *ngFor="let matkul of dataMataKuliah">
											  	<td *ngIf="matkul.idRuangan == ruangan.idruangan" class="text-center">{{matkul.namaMatkul}}</td>
											  	<td *ngIf="matkul.idRuangan == ruangan.idruangan" class="text-center">{{matkul.waktu}}</td>
										  	</tr>
										  </tbody>
									   </table>
						            </div>
						        </div>
						    </div>
						</div>
						<div class="col-md-1">
							<button class="btn btn-warning" style="margin-left: -20px;padding: 10px"><h4>Pesan</h4></button>
						</div>
					</div>

					 <pagination-controls (pageChange)="halaman = $event">
                    </pagination-controls>
            </div>

            <div class="tab-pane fade" id="tab2default">
						
			
								<div class="table-responsive">
								  <table class="table table-hover">
									<thead>
									  <tr>
										<th class="text-center"> No. </th>
										<th class="text-center"> Ruangan </th>
										<th class="text-center"> Mata Kuliah </th>
										<th class="text-center"> Keperluan </th>
										<th class="text-center"> Tanggal </th>
										<th class="text-center"> Waktu </th>
										<th class="text-center"> Status</th>
									  </tr>
									</thead>
			
									<tbody>
									  <tr class="edit" id="detail">
										<td id="no" class="text-center"> 1 </td>
										<td id="name" class="text-center"> RKU 2.01 </td>
										<td id="mobile" class="text-center"> MPPL </td>
										<td id="mail" class="text-center"> Kuliah </td>
										<td id="city" class="text-center"> Senin, 2 februari 2017 </td>
										<td id="city" class="text-center"> 08.00 - 10.00 </td>
										<td class="text-center"><span class="warning">Menunggu Konfirmasi</span></td>
									  </tr>
									</tbody>
								  </table>
								</div>
			
							
							
				</div>
            
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="myModal">
			<div class="modal-dialog" role="document">
			  <div class="modal-content">
				<div class="modal-header">
				  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				  <h4 class="modal-title">Pemesanan Ruangan</h4>
				</div>
				<div class="modal-body" style="padding: 20px">
					<form>
						<div class="form-group">
							<label for="exampleInputEmail1">Mata Kuliah</label>
							<input type="Text" class="form-control" id="exampleInputEmail1" placeholder="Email">
						</div>
						<div class="form-group">
							<label for="exampleInputPassword1">Keperluan</label>
							<input type="text" class="form-control" id="exampleInputPassword1" placeholder="Password">
						</div>
						<div class="form-group">
							<label for="exampleInputPassword1">Keperluan</label>
							<input type="date" class="form-control" id="exampleInputPassword1" placeholder="Password">
						</div>
						<div class="row">
							<div class="col-sm-6">
								<div class="form-group">
									<label for="exampleInputEmail1">Waktu Mulai</label>
									<ngb-timepicker [(ngModel)]="startTime" name="waktu_mulai"></ngb-timepicker>
								</div>	
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<label for="exampleInputEmail1">Waktu Selesai</label>
									<ngb-timepicker [(ngModel)]="endTime" name="waktu_selesai"></ngb-timepicker>
								</div>	
							</div>
						</div>
						<hr style="margin-top: 0px;">	
						<button type="button" class="btn btn-primary pull-right">Pesan</button>
						<div class="clearfix"></div>
					</form>	
				</div>
				
			  </div>
			</div>
		  </div>

