<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Course Control System</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="list-avatar-page">
  <ion-list>
    <ion-item *ngFor="let dataChat of dataChats" (click)="openChatroom($event, dataChat.id)">
      <h2>{{ dataChat.room }}</h2>
<!--       <p>{{ dataChat.lastChatText }}</p>
      <ion-note item-start>{{ dataChat.lastChatTime }}</ion-note> -->
      <ion-badge *ngIf="dataChat.unread != checknol" color="danger" item-end>{{ dataChat.unread }}</ion-badge>
    </ion-item>
  </ion-list>
</ion-content>
